In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Dataframes/3-2018_2020Data.csv')

In [2]:
df.drop(columns=["Ignore", "CloseTime", "QuoteVolume", "TakerBuyVolume", "TakerBuyQuoteVolume"], inplace=True)

In [3]:
df.loc[df.OpenPrice == df.ClosePrice]

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,Count
549,1515265200000,16775.00,16839.15,16713.02,16775.00,248.227489,1648
986,1515658500000,13699.98,13799.99,13640.00,13699.98,202.752238,1847
1435,1516062600000,13143.47,13143.47,12900.08,13143.47,598.844820,3545
4290,1518756300000,9980.00,9982.95,9890.00,9980.00,775.033127,7362
6560,1520799300000,9525.00,9538.39,9431.26,9525.00,565.496667,4615
...,...,...,...,...,...,...,...
49867,1559940300000,7930.85,7930.85,7930.85,7930.85,0.000000,0
49868,1559941200000,7930.85,7930.85,7930.85,7930.85,0.000000,0
51247,1561185900000,10760.00,10760.00,10741.02,10760.00,391.597528,3975
58327,1567586700000,10502.99,10515.40,10451.13,10502.99,660.807145,5384
59342,1568500200000,10340.02,10357.49,10329.91,10340.02,194.482992,2302

In [4]:
df.loc[df.Count == 0]

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,Count
49865,1559938500000,7930.85,7930.85,7930.85,7930.85,0.0,0
49866,1559939400000,7930.85,7930.85,7930.85,7930.85,0.0,0
49867,1559940300000,7930.85,7930.85,7930.85,7930.85,0.0,0
49868,1559941200000,7930.85,7930.85,7930.85,7930.85,0.0,0

In [5]:
df = df.loc[~(df['Count'] == 0)]

In [6]:
df

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,Count
0,1514764800000,13715.65,13715.65,13400.01,13556.15,123.616013,1572
1,1514765700000,13533.75,13550.87,13402.00,13521.12,98.136430,1461
2,1514766600000,13500.00,13545.37,13450.00,13470.41,79.904037,1000
3,1514767500000,13494.65,13690.87,13450.00,13529.01,141.699719,1195
4,1514768400000,13528.99,13571.74,13402.28,13445.63,72.537533,898
...,...,...,...,...,...,...,...
69695,1577833200000,7200.52,7204.94,7192.43,7201.26,134.191355,1713
69696,1577834100000,7200.98,7201.21,7185.86,7190.51,156.524347,1738
69697,1577835000000,7190.79,7199.00,7185.76,7195.43,91.677650,1353
69698,1577835900000,7195.70,7206.29,7190.17,7195.23,139.585045,1855
69699,1577836800000,7195.24,7196.25,7178.20,7180.97,202.942868,2452

In [7]:
df['PercentageDiff'] = ((df['ClosePrice'] - df['OpenPrice']) / df['OpenPrice']) * 100

# Display the updated DataFrame
print(df)

            OpenTime  OpenPrice  HighPrice  LowPrice  ClosePrice      Volume  \
0      1514764800000   13715.65   13715.65  13400.01    13556.15  123.616013
1      1514765700000   13533.75   13550.87  13402.00    13521.12   98.136430
2      1514766600000   13500.00   13545.37  13450.00    13470.41   79.904037
3      1514767500000   13494.65   13690.87  13450.00    13529.01  141.699719
4      1514768400000   13528.99   13571.74  13402.28    13445.63   72.537533
...              ...        ...        ...       ...         ...         ...
69695  1577833200000    7200.52    7204.94   7192.43     7201.26  134.191355
69696  1577834100000    7200.98    7201.21   7185.86     7190.51  156.524347
69697  1577835000000    7190.79    7199.00   7185.76     7195.43   91.677650
69698  1577835900000    7195.70    7206.29   7190.17     7195.23  139.585045
69699  1577836800000    7195.24    7196.25   7178.20     7180.97  202.942868

       Count  PercentageDiff
0       1572       -1.162905
1       1461       -0.093322
2       1000       -0.219185
3       1195        0.254619
4        898       -0.616158
...      ...             ...
69695   1713        0.010277
69696   1738       -0.145397
69697   1353        0.064527
69698   1855       -0.006532
69699   2452       -0.198326

[69696 rows x 8 columns]

In [13]:
df.describe()

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,Count,PercentageDiff
count,6.969600e+04,69696.000000,69696.000000,69696.000000,69696.000000,69696.000000,69696.000000,69696.000000
mean,1.546354e+12,7446.357752,7467.886236,7423.440601,7446.252939,410.857794,3130.756385,-0.000121
std,1.819074e+10,2520.823289,2534.391489,2506.018495,2520.739836,439.364315,2806.871474,0.453970
min,1.514765e+12,3166.110000,3174.780000,3156.260000,3167.070000,4.635181,34.000000,-13.173627
25%,1.530619e+12,6120.590000,6135.935000,6107.890000,6120.010000,186.851736,1574.000000,-0.142141
50%,1.546365e+12,7329.995000,7347.000000,7312.760000,7329.935000,290.045074,2324.000000,0.001265
75%,1.562111e+12,9126.277500,9153.000000,9099.595000,9126.205000,469.934738,3682.000000,0.145147
max,1.577837e+12,17173.970000,17176.240000,17055.020000,17173.970000,9305.628362,64205.000000,9.505374